.icon{
    width: 50px;
    height: 50px;
}
.navbar{
    width: 95%;
    margin: auto;
}
.post-img{
    width: 90%;
    margin: auto;
}
.size{
    font-size: 2em;
    
}
.dots:hover{
    border-radius: 100%;
    background-color: rgb(221, 218, 218);
}
.custom-shadow{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.c-shadow{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.post-img{
    object-fit: cover;
    object-position: center;
}